***HOW TO CREATE EMPTY SET***

In [ ]:
s={} # this not the way to create empty set.
print(s)
print(type(s))
s=set()   # use set() to create a empty set.
print(type(s))

{}
<class 'dict'>
<class 'set'>

***CREATING A SET OF INTEGERS***

In [ ]:
s={10,20,30}
print(s)

{10, 20, 30}

***CREATING A SET OF MIXED DATA TYPES***

In [ ]:
s={10,"Google",45.6}
print(s)

{'Google', 10, 45.6}

In [ ]:
s = {10.0,"Google",(20,30,40)}
print(s)

{'Google', (20, 30, 40), 10.0}

In [ ]:
s = {10,20,[30,40],50}
print(s)          # getting error because set cannot have mutable items.

TypeError: ignored

***DIFFERENT SET METHODS WITH EXAMPLES***

***add() -->***The set add() method adds a given element to a set. If the element is already present, it doesn't add any element.

In [ ]:
s={'a','e','i','u'}
s.add('o')
print(s)

{'o', 'e', 'a', 'i', 'u'}

In [ ]:
s={'a','e','i','u'}
s.add('a')  # 'a' is not added in the set because 'a' is already present in the set s.
print(s)

{'u', 'e', 'i', 'a'}

In [ ]:
s={10,20,30,40,50}
t=(60,70)
s.add(t)
print(s)

{40, 10, 50, 20, (60, 70), 30}

In [ ]:
s={10,20,30,40,50}
t=(60,70)
s.add(t)
print(s)
s.add(t) # we tried added same tuple t again but  it is not added in the set s because we can't add same element to set. 
print(s)

{40, 10, 50, 20, (60, 70), 30}
{40, 10, 50, 20, (60, 70), 30}

***clear() -->***The clear() method removes all elements from the set.

In [ ]:
s={'a','e','i','o','u'}
s.clear() # returns an empty set.
print(s)

set()

In [ ]:
s={10,20,30,40,50,(60,70)}
s.clear()
print(s)

set()

***copy() -->***The copy() method returns a shallow copy of the set.

In [ ]:
# set can be copied using '=' operator also.
s1={10,20,30,40,50}
print(s1)
s2=s1
print(s2)

{40, 10, 50, 20, 30}
{40, 10, 50, 20, 30}

In [ ]:
s1={10,20,30,40,50}
print(s1)
s2=s1.copy()
print(s2)

{40, 10, 50, 20, 30}
{50, 20, 40, 10, 30}

***difference() -->***The difference() method returns the set difference of two sets.If A and B are two sets. The set difference of A and B is a set of elements that exists only in set A but not in B.

In [ ]:
# '-' operator can be used to do set difference
s1={10,20,30,40}
s2={40,30}
print(s1-s2)

{10, 20}

In [ ]:
s1={10,20,30,40}
s2={40,30}
print(s1.difference(s2))
print(s1)

{10, 20}
{40, 10, 20, 30}

***difference_update() -->***The difference_update() updates the set calling difference_update() method with the difference of sets.

In [ ]:
s1={10,20,30,40}
s2={40,30}
print(s1.difference_update(s2))
print(s1)

None
{20, 10}

In [ ]:
s1={10,20,30,40}
s2={40,30}
print(s1.difference(s2))
print(s1)
print(s1.difference_update(s2))
print(s1)

{10, 20}
{40, 10, 20, 30}
None
{20, 10}

***discard() -->***The discard() method removes a specified element from the set (if present).

In [ ]:
s={1,2,3,4,5}
s.discard(4)
print(s)

{1, 2, 3, 5}

In [ ]:
s={1,2,3,4,5,(6,7)}
s.discard(5)
print(s)

{1, 2, 3, 4, (6, 7)}

***intersection() -->***The intersection() method returns a new set with elements that are common to all sets.

In [ ]:
s1={10,20,30,40}
s2={40,30}
print(s1.intersection(s2))

{40, 30}

In [ ]:
s1={10,20,30,40}
s2={40,30}
s3={20,40}
print(s1.intersection(s2,s3))

{40}

In [ ]:
s1={10,20,30,40}
s2={50,60}
s3={70,80}
print(s1.intersection(s2,s3))   # No common element present so returns empty set.

set()

In [ ]:
# intersection using '&' operator
s1={10,20,30,40}
s2={40,30}
s3={20,40}
print(s1&s2&s3)

{40}

***intersection_update() -->***The intersection_update() updates the set calling intersection_update() method with the intersection of sets.

In [ ]:
s1={10,20,30,40}
s2={40,50}
print(s1.intersection_update(s2))
print(s1)

None
{40}

In [ ]:
s1={10,20,30,40}
s2={50,60}
s3={70,80}
print(s1.intersection_update(s2,s3)) 
print(s1) # nothing is common so empty set was created and then the empty set updated as s1.

None
set()

***isdisjoint() -->***The isdisjoint() method returns True if two sets are disjoint sets. If not, it returns False.

In [ ]:
s1={10,20,30,40}
s2={50,40,60}
s3={70,80}
print(s1.isdisjoint(s2))  # returns false because there is common element which means they are not disjoint.
print(s1.isdisjoint(s3))  # returns true because there is no common element which means they are disjoint.

False
True

***issubset() -->***The issubset() method returns True if all elements of a set are present in another set (passed as an argument). If not, it returns False

In [ ]:
s1={1,2,3,4}
s2={1,2,3,4,5}
s3={4,5,6}
print(s1.issubset(s2)) # returns true because all the elements of s1 is present in s2
print(s3.issubset(s2)) # returns false because not all elements of s3 is present in s2

True
False

***issuperset() -->***The issuperset() method returns True if a set has every elements of another set (passed as an argument). If not, it returns False.

In [ ]:
s1={1,2,3,4}
s2={1,2,3}
s3={4,5}
print(s1.issuperset(s2)) # returns true because s1 has all the elements which are in s2.
print(s2.issuperset(s1)) # returns false because s2 don't have all the elements which are in s1.
print(s1.issuperset(s3)) # returns false because s1 don't have all the elements which are in s3.

True
False
False

***pop() -->***The pop() method removes an arbitrary element from the set and returns the element removed.

In [ ]:
s={1,2,3,4,5}
print(s.pop())
print(s)

1
{2, 3, 4, 5}

***remove() -->***The remove() removes the specified element from the set and updates the set. It doesn't return any value.

If the element passed to remove() doesn't exist, KeyError exception is thrown.

In [ ]:
s={1,2,3,4,5}
s.remove(3)
print(s)

{1, 2, 4, 5}

In [ ]:
s={1,2,3,4,5}
s.remove(6)  # return a KeyError because 6 is not present in the set.
print(s)

KeyError: ignored

***union() -->***The Python set union() method returns a new set with distinct elements from all the sets.

In [ ]:
s1={1,2,3,4}
s2={3,4,5,6}
print(s1.union(s2))

{1, 2, 3, 4, 5, 6}

In [ ]:
s1={1,2,3,4}
s2={3,4,5,6}
s3={4,5,1,7,8}
print(s1.union(s2,s3))

{1, 2, 3, 4, 5, 6, 7, 8}

In [ ]:
# '|' operator can be used to do  union of sets.
s1={1,2,3,4}
s2={3,4,5,6}
s3={4,5,1,7,8}
print(s1|s2)
print(s2|s3)
print(s1|s3)
print(s1|s2|s3)

{1, 2, 3, 4, 5, 6}
{1, 3, 4, 5, 6, 7, 8}
{1, 2, 3, 4, 5, 7, 8}
{1, 2, 3, 4, 5, 6, 7, 8}

***update() -->***The Python set update() method updates the set, adding items from other iterables.

In [ ]:
s1={1,2,3,4}
s2={3,4,5,6}
s3={4,5,1,7,8}
print(s1.update(s2))
print(s1)
print(s2.update(s3))
print(s2)

None
{1, 2, 3, 4, 5, 6}
None
{1, 3, 4, 5, 6, 7, 8}